@import 'fonts';
@import 'vars';

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: $font-main;
  font-size: 16px;
  line-height: 18px;
  color: $color-text-black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

a {
  display: inline-block;
  outline: none;
  text-decoration: none;
  color: $color-text-black;
}

.container {
  padding: 0 20px;
}

.header {
  //background-color: #8a8a8a;
  &__wrapper {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  &__link {
    img {
      max-width: 100px;
    }
  }
}

.menu {
  &__btn {
    width:40px;
    height: 40px;
    background-color: $color-main-white;
    border: none;
    position: relative;
    &::after {
      content: "";
      width: 20px;
      height: 2px;
      background-color: $color-main-black;
      position: absolute;
      top: 14px;
      left: 10px;
      box-shadow: 0 6px 0 0 $color-main-black, 0 12px 0 0 $color-main-black;
    }
  }
  &__nav {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, .9);
  transform: translateX(-100vw);
  transition: transform 200ms ease-in-out;
  &[data-open] {
    transform: translateX(0);
  }
  &__btn-wrapper {
    min-height: 80px;
    margin-bottom: 30px;
  }
  &__btn {
    width:40px;
    height: 40px;
    border: none;
    background: none;
    position: absolute;
    right: 20px;
    top: 20px;
    &::before, &::after {
      content: "";
      width: 2px;
      height: 28px;
      background-color: $color-main-black;
      position: absolute;
      top: 7px;
      left: 19px;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  &__nav {
    text-align: center;
  }
  &__item {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
  &__link {
    width: 100%;
  }
}