$font-main: PTSans, sans-serif;
$font-main-bold: PTSans-Bold, sans-serif;
$font-text: PTSerif, serif;
$font-text-bold: PTSerif-Bold, serif;
$color-main-black: #000;
$color-text-black: #4c4c4c;
$color-main-white: #fff;
$color-main-grey: #d9dadf;